[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
firebase-admin = "*"
python-dotenv = "*"
adafruit-dht = {git = "https://github.com/adafruit/Adafruit_Python_DHT",editable = true}

[requires]
python_version = "3.5"
